%html(ng-app="RubyStream")
  %head
    %title {{title}}
    %link{rel:"stylesheet", href:"/vendor/bootstrap/css/bootstrap.css"}
    %link{rel:"stylesheet", href:"/stylesheet.css"}
    %link{rel:"stylesheet", href:"http://fonts.googleapis.com/css?family=PT+Sans"}
  %body
    = haml :navigation
    %ui-view
    %script{src:"/vendor/jquery-2.0.3.js"}
    %script{src:"//code.jquery.com/ui/1.10.4/jquery-ui.js"}
    %script{src:"/vendor/angular.js"}
    %script{src:"/vendor/angular-ui-router-0.2.8.js"}
    %script{src:"/vendor/angular-ui.js"}
    %script{src:"/vendor/angular-ui-sortable.js"}
    %script{src:"/javascript.js"}
