%a{:'ui-sref'=>'viewing.user.login', :'ng-hide'=>'currentUser.loggedIn()'} Login with WoE
%a{:'ng-href' => 'http://worldofequestria.com/user/{{currentUser.data.external_id}}-',:'ng-show'=>'currentUser.loggedIn()', :'target'=>"_blank"} {{currentUser.data.name}}
