body {
  padding-top: 50px;
  font-family: 'PT Sans', serif;
}

body, #viewingroom {
  height: 100%;  
  position: relative;
}

//Fixes
.modal {
  overflow-y: auto;
}

//Navbar

.navbar-header {
  float: left;
  height: 50px;
}

.navbar-right {
  float: right;
}

.navbar {
  background-color: #222;
  border-bottom-color: #AAA;
}

.navbar-default .navbar-brand:hover {
  color: snow;
}

//Fonts

@font-face {
  font-family: "BebasNeue Regular";
  src: url('/vendor/fonts/BebasNeueRegular.otf');
}


h1, h2, h3, h4, h5, h6, .navbar-brand {

  font-family: "BebasNeue Regular";
  font-size: 30px;

}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 22px;
}

.navbar-brand {

  font-weight: 700;
  span {
    font-size: 0.9em;
  }
}

.avatar {
  padding: 1px;
  border: 1px solid rgb(213, 213, 213);
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

//Positioning

#video {
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: black;
}

#chat {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 60%;
  //background-color: green;
}

#playlist {
  position: absolute;
  width: 60%;
  height: 40%;
  top: 60%;
  //background-color: blue;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  z-index: 1000;
}

.inner-overlay {
  width: 66.666666666666666666%;
  margin-left: 16.66666666666666666666%;
  padding: 5px;
  z-index: 1005;
}

//Borders

$border: 1px solid #000;
#video {
  border-bottom: $border;
}
#chat{
  border-left: $border;
}



// Playlist

#playlist {
  background: #000;
  .header {
    background-color: #222;
    color: #DDD;
    padding: 5px;
    width: 100%;
    h2 {
      margin: 0;
      font-size: 20px;
      line-height: 1;
    }
    margin-bottom: 5px;
  }

  
  .preview {
    position: relative;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    img {
      height: 80%;
      padding: 2px;
      background: white;
      border: 1px solid #AAA;
    }
  }
  .time {
    position: absolute;
    bottom: -1px;
    right: 0px;
    padding: 5px;
    background-color: #222;
    color: #DDD;
    font-family: "BebasNeue Regular";
    font-size: 35px;
    border-top-left-radius: 50% 25%;
  }

  .title, .author {
    color: #DDD;
  }

  .author {
    font-weight: 700;
    &:before {
      content: "By ";
      font-weight: normal;
    }  
  }

  .next {
    img {
      height: 100%;
    }
    height: 150px;
    padding: 2px;
    background-color: #DDD;
    position: absolute;
    bottom: 0;
    right: 0;
    &:after {
      font-family: "BebasNeue Regular";
      content: "And after that...";
      position: absolute;
      top: -20px;
      left: 5px;
      right: 0px;
      color: white;

    }
  }


}


// Video

#video {
  iframe {
    width: 100%;
    height: 100%;
  }
}

// Chat

#chat {
  position: relative;
  padding-bottom: 100px;
  background-color: #111;
  color: #CCC;
  .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 100px;
  }
  textarea {
    height: 100%;
    width: 100%;
    border: none;
    padding: 5px;
  }
  ul {
    overflow-y: scroll;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .name {
    float: left;
    font-weight: bolder;
    margin-right: 10px;
    padding-left: 5px;
    //min-width: 25%;
    text-align: right;
    &:after{
      content: " >";
    }
  }
  .avatar {
    float: left;
    max-height: 20px;
    padding: 0px;
  }
  .message {
    word-wrap: break-word;
    margin-bottom: 3px;
    &[data-type="userJoined"], &[data-type="userLeft"] {
      .avatar, .name {
        display: none;
      }
      text-align: center;
    }
  }
}


//

.overlay {
  background-color: rgba(0,0,0,0.4);
  padding-top: 70px;
}

.inner-overlay {
  background-color: white;
  
  border-radius: 10px;
}




h4 .small {
  cursor: pointer;
}

ul.playlist {

  height: 50%;
  overflow-y: scroll;
  list-style: none;
  margin-top: 10px;

  li {
    margin-bottom: 10px;
    position: relative;
  }

  h6 {
    font-weight: bold;
  }

  img {
    height: 100px;
    float: left;
    margin-right: 20px;
  }

  .handle{
    position: absolute;
    left: -1.5em;
    top: 40px;
    cursor: pointer;
  }

  .playlist-placeholder{
    background-color: #EEE;
  }

}


ul.playlist-list {
  li {
    margin-top: 10px;

    label {
      float: left;
      line-height: 90px;
    }
    img {
      width: 120px;
      height: 90px;
      float: left;
      margin-right: 10px;
    }
  }

  input.activated_playlist {
    display: none;

    &:checked + label:after {
      content: "\e013";
      color: #006F1D;
    }
    & + label:after {
      content: "\e014";
      color: #AD4F4F;
    }

    & + label:before {
      position: absolute;
      bottom: 0%;
      left: -2px;
      right: 0px;
      text-align: center;
      content: "Active";
      font-size: 0em;
      font-family: "BebasNeue Regular";
      font-weight: bold;
      transition: all 200ms;
      -webkit-transition: all 200ms;
    }

    &:checked + label:before {
      font-size: 0.5em;
      bottom: -30%;
    }

  }

  input.activated_playlist + label {
    display: inline-block;
    font-size: 2em;
    margin-right: 10px;
    width: 28px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    position: relative;
    
  }

  span.playlist-name {
    color: #222;
    font-size: 2em;
  }

}


.user-list {
  margin-bottom: 0px;
  .name {
    display: inline-block;
    line-height: 50px;
  }
  .avatar {
    max-height: 50px;
  }
}

.anonymous-users {
  text-align: left;
}
