.overlay
  %ui-view
  .inner-overlay.modal-content
    .modal-header
      %h4 Users online
    .modal-body
      %ul.list-unstyled.user-list
        %li.clearfix{:'ng-repeat' => 'user in userList.list'}
          %img.avatar{:'ng-src' => 'https://worldofequestria.com/uploads/profile/photo-thumb-{{user.external_id}}.png'}
          .name {{user.name}}
    .modal-footer{:style => "margin-top: 0px;"}
      .anonymous-users {{userList.anons}} other Users.
