#viewingroom
  #video
    %youtube{id:'{{currentVideoId}}', time: 'playlist.current_time', :'ng-if' => 'playlist.items[playlist.current_video-1].carrier == "Youtube"'}
      #youtube-player
  #chat{:'ng-controller' => "Chat"}
    %ul{:'chat-window' => true, :messages => 'chatMessages.messages'}
      %li.message.clearfix{:'ng-repeat' => 'message in chatMessages.messages', :'data-type' => '{{message.type}}'}
        .name<
          {{message.user.name}}
        .message
          {{message.message}}
    .chat-input
      %textarea{:'chat-input' => true, :'ng-model' => "message", :'on-enter' => "sendMessage()", :placeholder => "Start Chatting", :'ng-disabled' => '!currentUser.loggedIn()'}
  #playlist
    .header
      %h2 
        Next up playing in 
        %em {{playlist.name}}
    .preview
      %img{src:"http://img.youtube.com/vi/{{playlist.items[playlist.current_video].carrier_id}}/hqdefault.jpg"}
      .time {{playlist.items[playlist.current_video + 1].length | time:'short'}}
    .title
      {{playlist.items[playlist.current_video].name}}
    .author
      {{playlist.items[playlist.current_video].author}}
    -#.next
      -#%img.img-responsive{src:"http://img.youtube.com/vi/{{playlist.items[playlist.current_video + 1].carrier_id}}/hqdefault.jpg"}
  %ui-view
